<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:replace="fragments/fragment :: title('Detail Jabatan')"></title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		
		<h1>Detail Jabatan</h1>
		<table>
			<tr>
				<td>Nama</td>
				<td th:text="${infoJabatan.nama}"></td>
			</tr>
			<tr>
				<td>Deskripsi</td>
				<td th:text="${infoJabatan.deskripsi}"></td>
			</tr>
			<tr>
				<td>Jumlah Pegawai</td>
				<td th:text="${jumlahPegawai}"></td>
			</tr>
			<tr>
				<td>Gaji Pokok</td>
				<td th:text="'Rp' + ${infoGaji}"></td>
			</tr>
		</table>
		
		<form th:action="@{'/jabatan/ubah'}" method="GET">
			<input type="hidden" th:value="${infoJabatan.id}" name="idJabatan" />
			<button value="submit">Ubah</button>
		</form>
		
		<form th:action="@{'/jabatan/delete'}" method="POST">
			<input type="hidden" th:value="${infoJabatan.id}" name="idJabatan" />
			<button value="submit">Hapus</button>
		</form>
	</body>
</html>