<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:replace="fragments/fragment :: title('Homepage')"></title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<div class="container-fluid">
			<h2>Sistem Informasi Kepegawaian</h2>
			<h4>Selamat datang di Sistem Informasi Kepegawaian</h4>
			<br>
			<hr>
			<h1>Lihat Data Pegawai berdasarkan NIP</h1>
			<h4>Masukkan Nomor Induk Pegawai</h4>
			<form th:action="@{/pegawai}" method="GET">
				<input type="text" name="nip" class="form-control"/>
				<button type="submit" class="btn btn-primary">Lihat</button>
			</form>
			<hr>
			<h1>Lihat Detail Jabatan</h1>
			<h3>Pilih Jabatan Di Bawah Ini</h3>
			<form th:action="@{/jabatan/view}" method="GET">
				<select name="idJabatan">
					<option th:each="infoJabatan : ${listJabatanAvailable}" 
				          th:value="${infoJabatan.id}" 
				          th:text="${infoJabatan.nama}"></option>
				</select>
				<button type="submit" class="btn btn-primary">Cari</button>
			</form>
			<h1>Lihat Pegawai Termuda dan Tertua</h1>
			<h3>Pilih Instansi Di Bawah Ini</h3>
			<form th:action="@{pegawai/termuda-tertua}" method=GET>
				<select name="idInstansi">
					<option th:each="instansi : ${listInstansiAvailable}"
							th:value="${instansi.id}"
							th:text="${instansi.nama}"></option>
				</select>
				<button type="submit" class="btn btn-primary">Cari</button>
			</form>
		</div>
	</body>
</html>